In [2]:
import pandas as pd
from scipy.stats import chi2_contingency
#excel_file_path = 'thinkaloud_action_level_data.csv'
df  = pd.read_csv("study_3_attempt_data.csv")
#print(df.columns)
#correctness_false_df = df[df['Correctness'] == "FALSE"]
df.head()

,Problem.Sub.Part.ID,ProblemStep,Problem.ID,Problem,User.ID,Participant_ID,Order,Action.Type,Timestamp,Answer.Text,Correctness,Problem.Log.ID,CorrectedAns
0,1751064,1,"""PRABMQVY""",6,686624,p566s0816,2,"""answer""","""12/17/2020 14:25:32.156""","""0.25""",True,225254924,0.25
1,1751064,1,"""PRABMQVY""",6,686700,p536s0109,2,"""answer""","""01/04/2021 10:37:14.203""","""1/4""",True,225306787,0.25
2,1751064,1,"""PRABMQVY""",6,686662,p296s0426,2,"""answer""","""12/21/2020 14:35:33.266""","""1/4""",True,225287253,0.25
3,1751064,1,"""PRABMQVY""",6,687970,p411s0607,2,"""answer""","""02/04/2021 13:58:59.062""","""0.25""",True,225738104,0.25
4,1751064,1,"""PRABMQVY""",6,687560,p587s1221,2,"""answer""","""01/22/2021 15:39:14.939""","""3/12""",True,225583991,0.25

In [3]:
df['Correctness'].value_counts()

True     1456
False     301
Name: Correctness, dtype: int64

In [4]:
df1= df.query('Correctness == False')
df1.head()

,Problem.Sub.Part.ID,ProblemStep,Problem.ID,Problem,User.ID,Participant_ID,Order,Action.Type,Timestamp,Answer.Text,Correctness,Problem.Log.ID,CorrectedAns
9,1751064,1,"""PRABMQVY""",6,688031,p342s1011,2,"""answer""","""02/08/2021 13:35:21.614""","""1/9""",False,225777063,0.11
26,1751065,3,"""PRABMQVY""",6,687114,p161s0504,2,"""answer""","""01/12/2021 12:27:28.718""","""0.11""",False,225425976,0.11
30,1751065,3,"""PRABMQVY""",6,686669,p962s0107,2,"""answer""","""12/23/2020 13:27:41.139""","""5/12""",False,225298729,0.42
44,1751066,5,"""PRABMQVY""",6,687198,p788s0505,2,"""answer""","""01/13/2021 10:35:56.214""","""0.2""",False,225443383,0.20
47,1751066,5,"""PRABMQVY""",6,687560,p587s1221,2,"""answer""","""01/22/2021 15:40:00.066""","""0.7""",False,225584017,0.70

In [5]:
df2 = df1.groupby(['Problem', 'ProblemStep', 'Answer.Text'], as_index=False).agg(Answer_Counts = ('Answer.Text', 'count'))

In [6]:
ruledf  = pd.read_csv("rule_types_study_3.csv")
ruledf.head()

   Problem  ProblemStep Rule_type  Rule_order
0        1            1        R1           1
1        1            2        R2           1
2        1            3        R3           1
3        2            1        R4           1
4        2            2        R4           2

In [7]:
df3 = pd.merge(df2, ruledf, how="left", left_on=["Problem", "ProblemStep"], right_on=["Problem", "ProblemStep"])
df3

     Problem  ProblemStep Answer.Text  Answer_Counts Rule_type  Rule_order
0          1            1       "4/7"              1        R1         1.0
1          1            1      "8/14"              1        R1         1.0
2          1            3      "0.57"              1        R3         1.0
3          1            3         "1"              1        R3         1.0
4          1            3         "2"              9        R3         1.0
..       ...          ...         ...            ...       ...         ...
147        9            7      "2/92"              1       NaN         NaN
148        9            7      "3/15"              1       NaN         NaN
149        9            7      "3/91"              1       NaN         NaN
150        9            7      "6/79"              1       NaN         NaN
151        9            7   "60/2730"              1       NaN         NaN

[152 rows x 6 columns]

In [8]:
df4 = pd.merge(df1, ruledf, how="left", left_on=["Problem", "ProblemStep"], right_on=["Problem", "ProblemStep"])
df4

,Problem.Sub.Part.ID,ProblemStep,Problem.ID,Problem,User.ID,Participant_ID,Order,Action.Type,Timestamp,Answer.Text,Correctness,Problem.Log.ID,CorrectedAns,Rule_type,Rule_order
0,1751064,1,"""PRABMQVY""",6,688031,p342s1011,2,"""answer""","""02/08/2021 13:35:21.614""","""1/9""",False,225777063,0.11,R3,2.0
1,1751065,3,"""PRABMQVY""",6,687114,p161s0504,2,"""answer""","""01/12/2021 12:27:28.718""","""0.11""",False,225425976,0.11,R7,1.0
2,1751065,3,"""PRABMQVY""",6,686669,p962s0107,2,"""answer""","""12/23/2020 13:27:41.139""","""5/12""",False,225298729,0.42,R7,1.0
3,1751066,5,"""PRABMQVY""",6,687198,p788s0505,2,"""answer""","""01/13/2021 10:35:56.214""","""0.2""",False,225443383,0.20,NaN,NaN
4,1751066,5,"""PRABMQVY""",6,687560,p587s1221,2,"""answer""","""01/22/2021 15:40:00.066""","""0.7""",False,225584017,0.70,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,1911966,5,"""PRABQXW6""",9,686443,ps0909,2,"""answer""","""12/16/2020 11:00:42.904""","""1/4""",False,225232457,0.25,NaN,NaN
297,1911968,7,"""PRABQXW6""",9,686558,p794s0818,2,"""answer""","""12/15/2020 10:40:49.105""","""60/2730""",False,225210363,0.02,NaN,NaN
298,1911968,7,"""PRABQXW6""",9,686443,ps0909,2,"""answer""","""12/16/2020 11:03:12.292""","""1/5""",False,225232497,0.20,NaN,NaN
299,1911968,7,"""PRABQXW6""",9,687201,p809s0605,2,"""answer""","""01/13/2021 14:40:47.568""","""2/92""",False,225451057,0.02,NaN,NaN
300,1911968,7,"""PRABQXW6""",9,687747,p106s0830,2,"""answer""","""01/28/2021 13:46:33.089""","""6/79""",False,225649982,0.08,NaN,NaN

In [10]:
contigency = pd.crosstab(index = df4["CorrectedAns"], columns = df4["Rule_type"])
contigency

Rule_type     R1  R3  R4  R5  R6  R7
CorrectedAns
-99.00         0   0   9   0   0   0
-0.35          0   0   1   0   0   0
-0.20          0   0   0   1   0   0
 0.00          0   0   0   0   0   5
 0.02          0   1   0   0   0   0
 0.03          0   0   0   0   0   1
 0.04          0   1   0   0   0   0
 0.06          0   2   0   0   0   5
 0.07          0   2   0   0   0   0
 0.08          0   1   0   0   0   2
 0.10          0   1   2   0   0   0
 0.11          0   1   0   0   0   4
 0.15          0   1   0   0   0   0
 0.16          0   0   1   0   0   0
 0.17          0   1   0   0   0   0
 0.20          0   2   2   1   0   0
 0.25          0   5   0   0   0   1
 0.27          0   0   0   0   1   0
 0.29          0   0   0   0   1   0
 0.30          0   0   2   1   0   0
 0.33          0   3   0   0   0   2
 0.36          0   0   0   0   2   2
 0.40          0   1  87   0   0   0
 0.42          0   1   0   0   0   2
 0.44          0   0   1   0   0   0
 0.45          0   0   1   0   0   0
 0.50          0   1   3   0   0   0
 0.53          0   0   0   0   0   1
 0.57          2   2   0   0   0   0
 0.58          0   0   0   0   0   1
 0.60          0   0   0   0   0   1
 0.63          0   0   0   0   0   1
 0.67          0   1   1   0   0   0
 0.70          0   0   0   0   0   1
 0.80          0   0   2   0   0   0
 0.90          0   0   1   0   0   0
 1.00          0   1   1   0   0   0
 2.00          0   9   0   0   0   0
 4.00          0   0   1   0   0   0
 6.00          0   0   1   0   0   0
 15.00         0   0   2   0   0   0
 45.00         0   0   0   1   0   0

In [12]:
chi2_contingency(contigency)

(641.8521608489025,
 1.6210786511048498e-46,
 205,
 array([[9.27835052e-02, 1.71649485e+00, 5.47422680e+00, 1.85567010e-01,
         1.85567010e-01, 1.34536082e+00],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [5.15463918e-02, 9.53608247e-01, 3.04123711e+00, 1.03092784e-01,
         1.03092784e-01, 7.47422680e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [7.21649485e-02, 1.33505155e+00, 4.25773196e+00, 1.44329897e-01,
         1.44329897e-01, 1.04639175e+00],
        [2.06185567e-02, 3.81443299e-01, 1.21649485e+00, 4.12371134e-02,
         4.12371134e-02, 2.98969072e-01],
        [3.09278351e-02, 5.72164948e-01, 1.82474227e+00, 6.18556701e-02,
         6.18556701e-02, 4.48453608e-01],
        [3.09278351e-02, 5.72164948e-01, 1.82474227e+00, 6.18556701e-02,
         6.18556701e-02, 4.48453608e-01],
        [5.15463918e-02, 9.53608247e-01, 3.04123711e+00, 1.03092784e-01,
         1.03092784e-01, 7.47422680e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [5.15463918e-02, 9.53608247e-01, 3.04123711e+00, 1.03092784e-01,
         1.03092784e-01, 7.47422680e-01],
        [6.18556701e-02, 1.14432990e+00, 3.64948454e+00, 1.23711340e-01,
         1.23711340e-01, 8.96907216e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [3.09278351e-02, 5.72164948e-01, 1.82474227e+00, 6.18556701e-02,
         6.18556701e-02, 4.48453608e-01],
        [5.15463918e-02, 9.53608247e-01, 3.04123711e+00, 1.03092784e-01,
         1.03092784e-01, 7.47422680e-01],
        [4.12371134e-02, 7.62886598e-01, 2.43298969e+00, 8.24742268e-02,
         8.24742268e-02, 5.97938144e-01],
        [9.07216495e-01, 1.67835052e+01, 5.35257732e+01, 1.81443299e+00,
         1.81443299e+00, 1.31546392e+01],
        [3.09278351e-02, 5.72164948e-01, 1.82474227e+00, 6.18556701e-02,
         6.18556701e-02, 4.48453608e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [4.12371134e-02, 7.62886598e-01, 2.43298969e+00, 8.24742268e-02,
         8.24742268e-02, 5.97938144e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [4.12371134e-02, 7.62886598e-01, 2.43298969e+00, 8.24742268e-02,
         8.24742268e-02, 5.97938144e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [2.06185567e-02, 3.81443299e-01, 1.21649485e+00, 4.12371134e-02,
         4.12371134e-02, 2.98969072e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [2.06185567e-02, 3.81443299e-01, 1.21649485e+00, 4.12371134e-02,
         4.12371134e-02, 2.98969072e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [2.06185567e-02, 3.81443299e-01, 1.21649485e+00, 4.12371134e-02,
         4.12371134e-02, 2.98969072e-01],
        [9.27835052e-02, 1.71649485e+00, 5.47422680e+00, 1.85567010e-01,
         1.85567010e-01, 1.34536082e+00],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01],
        [2.06185567e-02, 3.81443299e-01, 1.21649485e+00, 4.12371134e-02,
         4.12371134e-02, 2.98969072e-01],
        [1.03092784e-02, 1.90721649e-01, 6.08247423e-01, 2.06185567e-02,
         2.06185567e-02, 1.49484536e-01]]))